@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* Garante o fundo escuro mesmo se o JS falhar */
  color: #f1f5f9;
}

/* Scrollbar Bonita (Estilo Hacker) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}